body {
	font-family: "Ubuntu Sans", "Ubuntu", "Pretendard Variable", "Pretendard", -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-ms-overflow-style: none;
	scrollbar-width: none;

}

body::-webkit-scrollbar {
	display: none;
}


